.example-card {
    max-width: 80%;
    margin: 5% auto;
    padding-top: 100px;
}
#imaproducto{
   width: 50%;
   margin-left: 25%;
   margin-top: 5px;
   
       
}
.container{
    width: 80%;
}

small{
    font-size: 30px;
    margin-top: 10px;
}
.titulo{
    color: #93F470 !important;
    justify-content: center;
    justify-items: center;
    font-weight:bolder ;

}






