<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let carta of cartas">
            <div class="card shadow-sm">
                <img src="{{carta.image}}" alt="{{carta.id}}">

                <div class="card-body">
                    <p class="card-text">{{carta.description}}</p>
                    <h5 class="card-text">{{carta.category}}</h5>
                    <h5 class="card-text">{{carta.rate}}</h5>                                              
                   
                    <div class="d-flex justify-content-center align-items-center">
                        <small class="text-muted">${{carta.price}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
