mat-toolbar {
    justify-content: space-between;
    background-color: aquamarine;

}
mat-drawer-container {
    margin-bottom: 30px;
}

mat-drawer{
    width: 30%;
    height: 150;
    
}

a{
    font-size: 25px;
    
}

ul{
    margin-top: 10px;
}
li{
    margin-bottom: 20px;
}

h1{
    margin-top: 50px;
}


