body {

	padding-top: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #B7E4F2
}

h4 {
	color: #2A6071;
}

.container {
	display: flex;
	justify-content: space-around;


}

.usuario {
	text-align: center;

}

.usuario>img {
	width: 30%;
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 50%;
	background-size: 100% auto;
	justify-items: center;
}

.derecha {
	flex: 2;
	margin: 20px;


}

.izquierda {
	flex: 1;
	background-color: #ffff;
	margin: 20px;

}

.izquierda>div {
	background-color: #C4E0E9;
	margin: 20px;
	padding: 10px;


}


.derecha>div {
	background-color: #ffff;
	padding: 10px;
	margin-bottom: 20px;



}
.video-youtube{
	text-align: center;
}

.video-youtube > iframe{
	width: 50%;
	
}


.historial-academico {
	background-color: #ffff;
	display: flex;	
	text-align: center;	
	align-content: stretch;
	justify-content: space-around;
	margin: 20px;

}


.colegio {
	background-color: #C4E0E9;
	padding: 10px;

}

.universidad {
	background-color: #C4E0E9;
	padding: 10px;
}

.mapa-cole, 
.mapa-uni{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

}

.mapa iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;

}


.laboral>div {
	background-color: #C4E0E9;
	margin: 20px;
	padding: 10px;

}

.imagenes {
	display: flex;			
	column-gap: 10px;
	text-align: center;
	padding-top: 10px;

}

.formulario {
	background-color: #ffff;
	margin: 20px;
	padding: 10px;

}



.formulario>div {
	background-color: #C4E0E9;
	margin: 20px;
	padding: 20px;

}

textarea{
	width:30%;
	height: 40%;
}
input{
	width: 30%;	
}

.ima-movil>img {
	width: 45%;

}

.ima-web>img {
	width: 80%;

}

@media screen and (max-width: 800px) {

	.historial-academico, .imagenes{
		flex-direction: column;
		padding-bottom: 10px;
	}

	.container {
		flex-direction: column;
		margin: auto;
	}
	
}